<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure>
    <img [src]="imageUrl()" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-montserrat text-accent text-lg">
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="btn btn-primary"
        >Ver producto</a
      >
    </div>
  </div>
</div>
