<div
  class="carousel carousel-center bg-neutral rounded-box max-w-md space-x-4 p-4"
>
  @for (image of images(); track $index) {

  <div [id]="'carousel-item-' + $index" class="carousel-item">
    <img
      [src]="image | productImage"
      class="rounded-box"
      class="w-[300px] h-auto object-cover"
    />
  </div>
  } @empty {
  <div class="carousel-item">
    <img
      [src]="'' | productImage"
      class="rounded-box"
      class="w-[300px] h-auto object-cover"
    />
  </div>
  }
</div>
