@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/google/montserrat/alternates/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 400; /* Define the weight, e.g., normal */
  font-style: normal; /* Define the style */
}

@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --animate-fadeIn: fadeIn 0.5s ease-in-out;
}


 @plugin "daisyui" {
   themes: night --default;
 }

